---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = (await getCollection("bear_export"))
  .map((postCol: any) => {
    const post = postCol.data;
    post["published date"] = new Date(post["published date"]);
    post["last modified"] = new Date(post["last modified"]);
    post["first published at"] = new Date(post["last modified"]);

    return post;
  })
  .filter((post: any) => post.publish && !post["is page"])
  .sort((a: any, b: any) => b["published date"] - a["published date"]);
---

<Layout pageTitle={"Blog"}>
  <h1 id="blog">Blog</h1>
  <p></p>

  <ul class="embedded blog-posts">
    {
      allPosts
        .filter((st: any) => st.slug)
        .map((st: any) => (
          <li>
            <span>
              <i>
                <time datetime={st["published date"].toISOString()}>
                  {st["published date"].toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
              </i>
            </span>
            <a href={st.slug}>{st.title}</a>
          </li>
        ))
    }
  </ul>
</Layout>
