---
---

<footer style="padding:25px 0;">
  <span id="footer-directive">
      <div><small><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></small>
      </div>
      <p><br></p>
  </span>
  <span>
      Inspired by <a href="https://bearblog.dev">Bear ʕ•ᴥ•ʔ</a>
  </span>
</footer>
